<div class="contact-container">
  <div class="container">
    <div class="contact-row row-content">

      <div class="contact-item">
        <div class="contact-title">
          Contact us
        </div>
        <div class="contact-description">
          <a class="contact-info-items" href="tel:+0(12)-34-45-56">+0(12)-34-45-56</a>
          <a class="contact-info-items" href="tel:+0(12)-34-45-56">+0(12)-34-45-56</a>
          <a class="contact-info-items" href="mailto:webon1@webonexample.com">@webonexample.com</a>
        </div>
      </div>

      <div class="contact-item">
        <div class="contact-title">
          Working hours
        </div>
        <div class="contact-description">
          <div class="contact-info-items">Every day: <span>9 am to 8 pm</span></div>
          <div class="contact-info-items">105 Lincoln Avenue</div>
          <div class="contact-info-items"> Bronx, NY 10454, USA</div>
        </div>
      </div>

    </div>

    <div    id="map"
            leaflet
            [leafletOptions]="mapOptions"></div>

  </div>
</div>

