<div class="services-container">
  <div class="container">
    <h1>VR quests</h1>
    <div class="services-card-container row-content">

      <div class="services-card-item bg-flip" >
        <div class="services-card-title">
          Colony: Code Red
        </div>
        <div class="services-card-img">
          <img src="../../assets/img/colony.jpg" alt="">
        </div>
        <div class="services-card-description">
          <div class=" services-card-description-item services-card-session">
            Session: <span>45 min</span>
          </div>
          <div class=" services-card-description-item services-card-players"> Number of players: <span>1-4</span></div>
          <div class=" services-card-description-item services-card-age">Age: <span>11+</span></div>
        </div>
<!--        <div class="button services-card-button">BUY NOW</div>-->

        <div class="flip-container">
          <div class="services-card-description">
            <div class=" services-card-description-item services-card-session">
              You are a shift of colonists sent to a research station lost in the depths of space on the planet Alekta. Upon arrival, you have to face the nightmare lurking inside, with the doom that pervades everything around, and fight your fears. Perhaps you will survive. Nobody knows if you will return ...
            </div>
          </div>
        </div>

      </div>

      <div class="services-card-item bg-flip">
        <div class="services-card-title">
          Sanctum
        </div>
        <div class="services-card-img">
          <img src="../../assets/img/sanctum.jpg" alt="">
        </div>
        <div class="services-card-description">
          <div class=" services-card-description-item services-card-session">
            Session: <span>45 min</span>          </div>
          <div class=" services-card-description-item services-card-players"> Number of players: <span>1-4</span></div>
          <div class=" services-card-description-item services-card-age">Age: <span>11+</span></div>
        </div>
<!--        <div class="button services-card-button">BUY NOW</div>-->

        <div class="flip-container">
          <div class="services-card-description">
            <div class=" services-card-description-item services-card-session">
              There are dark places in the world where it is better not to meddle. But your friend did it and is now asking for help. Would you risk your life to save him? You will meet with an ancient power ...
            </div>
          </div>
        </div>


      </div>

      <div class="services-card-item bg-flip">
        <div class="services-card-title">
          Fallout 4
        </div>
        <div class="services-card-img">
          <img src="../../assets/img/Fallout.jpg" alt="">
        </div>
        <div class="services-card-description">
          <div class=" services-card-description-item services-card-session">
            Session: <span>45 min</span>          </div>
          <div class=" services-card-description-item services-card-players"> Number of players: <span>1-4</span></div>
          <div class=" services-card-description-item services-card-age">Age: <span>11+</span></div>
        </div>
<!--        <div class="button services-card-button""-->
<!--             >BUY NOW</div>-->

        <div class="flip-container">
          <div class="services-card-description">
            <div class=" services-card-description-item services-card-session">
              Something went wrong. Not at all. There were nothing left of people. These ... creatures that crawled into the hole between dimensions killed almost everyone. You don't know how much more time you and humanity have. But if a person has enough cartridges and a desire to fight to the last, then there is always a chance.
            </div>
          </div>
        </div>

      </div>
    </div>


  </div>
</div>

<!--<div class="wrapper-button">-->
<!--        <input type="checkbox" id="button">-->
<!--        <label for="button" class="label button "> gfbfgb</label>-->
<!--  <div class="modal">-->
<!--    <div>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi iste repellat veritatis?</div>-->
<!--    <div>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi iste repellat veritatis?</div>-->
<!--    <div>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi iste repellat veritatis?</div>-->
<!--    <label for="button" class="close"></label>-->
<!--  </div>-->
<!--</div>-->
