$main_clr_font: #000000;
$main_clr_bg: #000000;
$main_clr_bg_light: #ffffff;
$main_clr_font_light: #ffffff;
$main_button_bg: #00D1FF;
$main_dark_font: #0F161E;
$main_dark_bg: #0F161E;
$main_dark_bg_1: #86377b;
$clr_dark_bg: #2564ff;
$clr_green_bg: #00c818;
$main_section_bg: #FAF3F0;
$section_bg_2: #F6F9FA;
$alert: red;

